* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background-color:black;

}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: #ffcc00;
  text-decoration: none;
  font-weight: 600;
}

.navbar {
  display: flex; 
  list-style: none; 
  gap: 20px; 
}

.navbar a {
  text-decoration: none; 
  color: white;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease; 
}

.navbar a:hover {
  color: black;
  background-color: #ffcc00;
  padding: 5px 10px; 
  border-radius: 5px;
}
.aboutMe {
  padding-top: 100px;
  color: white;
  font-size: 20px;
  padding: 0 10%;
  height: 100vh;
  display: flex;
  align-items: center;
  margin-top: 2;
}
.aboutMe-content{
  max-width: 600px;
}
.aboutMe-content h1{
font-size: 56px;
font-weight: 700;
}
.aboutMe-content h3{
  font-size: 32px;
  font-weight: 700;
  color: aqua;
}
.aboutMe-content p{
  font-size: 16px;
}
.Contact{
  position: absolute;
  bottom: 40px;
  width: 170px;
  background:red;
  display: flex;
  justify-content: space-between;
}
.Contact a{ 
position: relative;
display: inline-flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
background: transparent;
border: 2px solid #00abf0;
border-radius: 50%;
font-size: 20px;
color: #00abf0;
text-decoration: none;
z-index: 1;
overflow: hidden;
transition: .5s;
}
.Contact a :hover{
  color: #081b29;
}
.Contact a ::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf0; 
  z-index: 1;
  transition: .5s;
}